.container{
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: space-between;
    width: 700px;
    border-radius: 1em;
    height: 550px;
    position: relative;
    margin-top: 7em;

    
}

.containerFather{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60em;

}

.son{
  width: 100%;
}

.containerFather1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60em;
}

.son1{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    
}

.son1 h1{
  font-size: 25px;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}

.title{
  position: relative;
  width: 63em;
  text-align: center;
  margin-top: 5em;
}

.title h1{
  border-bottom: 1px solid rgb(202, 131, 0);
  
}

.title h2{
  position: absolute;
  left: 20%;
  top: -55%;
  color: rgb(255, 255, 255, 0.2);
  font-size: 60px;

}

.title h1{
  font-size: 35px;
  color: white;
}
  
  .techItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 8px;
    margin: 45px 20px;
    background-color: white;    
  }
  
  .techItem img.redux {
    max-width: 120px;
    height: auto;
  }
  .techItem:hover {
    animation-duration: 1s;
    animation-name: swing;
    animation-iteration-count: infinite;
    cursor: pointer;
  }
  
  @keyframes swing {
      15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
  }
  .techItem img.react {
    max-width: 200px;
    height: auto;
    margin-top: -40px;
  }

  .techItem h2{
    margin-top: -5px;
  }
  .techItem img.css {
    max-width: 60px;
    height: auto;
    margin-top: 7px;
  }
  .techItem img.html {
    max-width: 80px;
    height: auto;
    margin-top: 10px;
    
  }
  .techItem img.js {
    max-width: 80px;
    height: auto;
    margin-top: 12px;
    
  }
  .techItem img.node {
    max-width: 80px;
    height: auto;
    margin-top: 12px;
    
  }
  
  
  .techItem img {
    max-width: 100%;
    height: auto;
  }


  @media (max-width: 454px) {
    .title{
      width: 100%;
  }

    .title h2{
      font-size: 40px;
      left: -2%;
      top:-35%;
      width: max-content;

    }
    .containerFather1{
      height: max-content;
      margin-bottom: 20em;
    }
    .containerFather{
      flex-direction: column;
      align-items: center;
      margin-top: 12em;
    }

    .container{
      height: max-content;
      padding-right: 15px;
      width: 330px;
    }

    .son1 h1{
      font-size: 25px;
    }
    .techItem{
      width: 60px;
      height: 60px;
    }
    .techItem h2{
      font-size: 15px;
      margin-top: -8px;
    }
    .techItem img.react {
      max-width: 100px;
      margin-top: -15px;
    }
    .techItem img.redux {
      max-width: 85px;
      height: auto;
    }
    .techItem img.css {
      max-width: 45px;
      margin-top: 3px;
    }
    .techItem img.html {
      max-width: 60px;
      margin-top: 4px;
      
    }
    .techItem img.js {
      max-width: 65px;
      margin-top: 5px;
      
    }
    .techItem img.node {
      max-width: 65px;
      margin-top: 8px;
      
    }
  
    .techItem img {
      max-width: 100%;
    }
  }
  @media (min-width: 455px) and (max-width: 531px) {
    /* Estilos para pantallas con ancho máximo de 768px */

    .title{
      width: 100%;
  }

    .title h2{
      font-size: 40px;
      left: 4%;
      top:-35%;
      width: max-content;

    }
    .containerFather1{
      height: max-content;
      margin-bottom: 18em;
 
    }
    .containerFather{
      flex-direction: column;
      align-items: center;
      margin-top: 7em;
    }

    .container{
      height: max-content;
      padding-right: 15px;
      width: 400px;

    }

    .son1 h1{
      font-size: 25px;
    }
    .techItem{
      width: 60px;
      height: 60px;
    }
    .techItem h2{
      font-size: 15px;
      margin-top: -8px;
    }
    .techItem img.react {
      max-width: 100px;
      margin-top: -15px;
    }
    .techItem img.redux {
      max-width: 85px;
      height: auto;
    }
    .techItem img.css {
      max-width: 45px;
      margin-top: 3px;
    }
    .techItem img.html {
      max-width: 60px;
      margin-top: 4px;
      
    }
    .techItem img.js {
      max-width: 65px;
      margin-top: 5px;
      
    }
    .techItem img.node {
      max-width: 65px;
      margin-top: 8px;
      
    }
  
    .techItem img {
      max-width: 100%;
    }
  }
  
  @media (min-width: 532px) and (max-width: 710px) {
    /* Estilos para pantallas con ancho entre 768px y 992px */
    .title{
      width: 100%;
  }

    .title h2{
      font-size: 40px;
      left: 15%;
      top:-35%;
      width: max-content;

    }
    .containerFather1{
      height: max-content;
      margin-bottom: 20em;

    }
    .containerFather{
      flex-direction: column;
      align-items: center;
      margin-top: 8em;
    }

    .container{
      height: max-content;
      padding-right: 15px;
      width: 500px;

    }

    .son1 h1{
      font-size: 25px;
    }
    .techItem{
      width: 80px;
      height: 80px;
    }
    .techItem h2{
      font-size: 15px;
      margin-top: -8px;
    }
    .techItem img.react {
      max-width: 100px;
      margin-top: -15px;
    }
    .techItem img.redux {
      max-width: 85px;
      height: auto;
    }
    .techItem img.css {
      max-width: 45px;
      margin-top: 3px;
    }
    .techItem img.html {
      max-width: 60px;
      margin-top: 4px;
      
    }
    .techItem img.js {
      max-width: 65px;
      margin-top: 5px;
      
    }
    .techItem img.node {
      max-width: 65px;
      margin-top: 8px;
      
    }
  
    .techItem img {
      max-width: 100%;
    }
  }
  
  @media (min-width: 711px) and (max-width: 900px) {
    /* Estilos para pantallas con ancho entre 768px y 992px */
    .title{
      width: 100%;
  }

    .title h2{
      font-size: 40px;
      left: 24%;
      top:-35%;
      width: max-content;

    }
    .containerFather1{
      height: max-content;
      margin-bottom: 20em;

    }
    .containerFather{
      flex-direction: column;
      align-items: center;
      margin-top: 9em;
    }

    .container{
      height: max-content;
      padding-right: 15px;
      width: 550px;

    }

    .son1 h1{
      font-size: 25px;
    }
    .techItem{
      width: 90px;
      height: 90px;
    }
    .techItem h2{
      font-size: 15px;
      margin-top: -8px;
    }
    .techItem img.react {
      max-width: 100px;
      margin-top: -15px;
    }
    .techItem img.redux {
      max-width: 85px;
      height: auto;
    }
    .techItem img.css {
      max-width: 45px;
      margin-top: 3px;
    }
    .techItem img.html {
      max-width: 60px;
      margin-top: 4px;
      
    }
    .techItem img.js {
      max-width: 65px;
      margin-top: 5px;
      
    }
    .techItem img.node {
      max-width: 65px;
      margin-top: 8px;
      
    }
  
    .techItem img {
      max-width: 100%;
    }
  }

  @media (min-width: 901px) and (max-width: 1200px) {
    /* Estilos para pantallas con ancho entre 768px y 992px */
    .title{
      width: 100%;
  }

    .title h2{
      font-size: 40px;
      left: 30%;
      top:-35%;
      width: max-content;

    }
    .containerFather1{
      height: max-content;
      margin-bottom: 20em;

    }
    .containerFather{
      flex-direction: column;
      align-items: center;
      margin-top: 11em;
    }

    .container{
      height: max-content;
      padding-right: 15px;
      width: 650px;

    }

    .son1 h1{
      font-size: 25px;
    }
    .techItem{
      width: 100px;
      height: 100px;
    }
    .techItem h2{
      font-size: 15px;
      margin-top: -8px;
    }
    .techItem img.react {
      max-width: 180px;
      margin-top: -15px;
    }
    .techItem img.redux {
      max-width: 100%;
      height: auto;
    }
    .techItem img.css {
      max-width: 60px;
      margin-top: 3px;
    }
    .techItem img.html {
      max-width: 80px;
      margin-top: 4px;
      
    }
    .techItem img.js {
      max-width: 100px;
      margin-top: 5px;
      
    }
    .techItem img.node {
      max-width: 100%;
      margin-top: 8px;
      
    }
  
    .techItem img {
      max-width: 100%;
    }
  }

  @media (min-width: 1201px) and (max-width: 1445px) {
    .container{
      width: 600px;
    }
  }

