.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4em;
    width: 4em;
    z-index: 9999;
    position: fixed;
    top: 5%;
    right: 1%;
    background-color: rgb(202, 131, 0);
    border-radius: 10em;
    padding: 10px;
    
}

.containerList{
 position: absolute;
 left: 19%;
 bottom: 17%;
 height: max-content;

}

.son a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  position: relative;
  font-size: 1.8em;
  display: flex;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-bottom: 2px solid transparent; 
  

}

.son a:hover{
  border-bottom: 2px solid white;
  width: fit-content;
}

.circularMenu {
  display: flex;
  justify-content: center;
  height: 60em;
  width: 60em;
  background-color: rgba(202, 131, 0);
  position: fixed;
  top: -53%;
  right: -25%;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  
}


.circularMenu List {
    padding: 0;
    
  }

.circularMenu ListItem {
  width: 100%;
  text-align: center;
}

.circularMenu ListItemText {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  
}




@media (max-width: 391px) {
  .circularMenu{
    
    right: -50%;
    top: -25%;
  }

  .container{
    top: 4%;
    right: 1%;
  }

  .son a{
    font-size: 2.5em;
  }

  .containerList{
    top: 50%;
    left: 20%;
  }
}
/* 
@media (min-width: 392px) and (max-width: 465px) {
  .circularMenu{
    
    right: -50%;
    top: -25%;
  }

  .container{
    top: 4%;
    right: 1%;
  }

  .son a{
    font-size: 2.5em;
  }

  .containerList{
    top: 50%;
    left: 20%;
  }
} */

@media (min-width: 392px) and (max-width: 549px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .circularMenu{
    
    right: -40%;
    top: -25%;
  }

  .container{
    top: 4%;
    right: 1%;
  }

  .son a{
    font-size: 2.5em;
  }

  .containerList{
    top: 50%;
    left: 20%;
  }
}

@media (min-width: 550px) and (max-width: 610px) {
  .circularMenu{
    
    right: -40%;
    top: -30%;
  }

  .container{
    top: 4%;
    right: 1%;
  }

  .son a{
    font-size: 2.5em;
  }

  .containerList{
    top: 50%;
    left: 20%;
  }
}

@media (min-width: 611px) and (max-width: 700px) {
  .circularMenu{
    
    right: -40%;
    top: -30%;
  }

  .container{
    top: 4%;
    right: 1%;
  }

  .son a{
    font-size: 2.6em;
  }

  .containerList{
    top: 50%;
    left: 20%;
  }
}
@media (min-width: 701px) and (max-width: 790px) {
  .circularMenu{
    
    right: -40%;
    top: -40%;
  }

  .container{
    top: 4%;
    right: 1%;
  }

  .son a{
    font-size: 2.2em;
  }

  .containerList{
    top: 50%;
    left: 20%;
  }
}

@media (min-width: 791px) and (max-width: 950px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
  .circularMenu{
    right: -50%;
    top: -45%;
  }
}

@media (min-width: 951px) and (max-width: 1050px) {
  .circularMenu{
    right: -50%;
    top: -50%;
  }
}

@media (min-width: 1051px) and (max-width: 1300px) {
  .circularMenu{
    right: -40%;
    top: -50%;
  }
}

@media (min-width: 1301px) and (max-width: 1600px) {
  .circularMenu{
    right: -34%;
    top: -50%;
  }
}

