.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4em;
    width: 4em;
    z-index: 9999;
    position: fixed;
    top: 5%;
    right: 5%;
    background-color: rgb(202, 131, 0);
    border-radius: 10em;
    padding: 10px;
    
}

.containerList{
 position: absolute;
 left: 19%;
 bottom: 17%;
 height: max-content;

}

.son a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  position: relative;
  font-size: 1.8em;
  display: flex;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-bottom: 2px solid transparent; 
  

}

.son a:hover{
  border-bottom: 2px solid white;
  width: fit-content;
}

.circularMenu {
  display: flex;
  justify-content: center;
  height: 60em;
  width: 60em;
  background-color: rgba(202, 131, 0);
  position: fixed;
  top: -53%;
  right: -22%;
  border-radius: 50%;
  transition: width 0.3s, height 0.3s;
  overflow: hidden;
  animation: slideIn 1s forwards;
  align-items: center;
  
}

@keyframes slideIn {
  from {
    transform: translate(100%, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes slideOut {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(100%, -100%);
  }
}
.circularMenu.slideOut {
  animation: slideOut 1s forwards;
}


.circularMenu List {
    padding: 0;
    
  }

.circularMenu ListItem {
  width: 100%;
  text-align: center;
}

.circularMenu ListItemText {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  
}



