.container{
    display: flex;
    justify-content: center;
    background-color: rgb(21, 21, 21);
    flex-direction: column;
    z-index: 0;
    padding-bottom: 100px;
    margin-top: -222px;
    position: relative;

}
.son{
    display: flex;
    text-align: center;
    flex-direction: column;
    color: white;
    padding: 100px;
    margin: 0 auto;
}

.son h2{
    position: absolute;
    left: 30%;
    top: -45%;
    color: rgb(255, 255, 255, 0.2);
    font-size: 60px;
}

.son h1{
    font-size: 35px;
}

.title{
    position: relative;
}

.target{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.arrow{
    color: rgb(202, 131, 0);
    position: absolute;
    left: 60%;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10em;
}

.info h3{
    font-size: 1.3em;
    height: 5px;
}

.info h4{
    color: rgb(202, 131, 0);
    font-size: 1.5em;
    height: 5px;


}

.imgProfile{
    width: 20em;
    margin-right: 1em;
}

.baby p{
    text-align: justify;
    line-height: 1.5;
    padding-top: 15px;
   
}
.baby{
    padding-left: 30px;
    padding-right: 30px;
    max-width: 900px;
    display: flex;
    margin-top: 5em;

}



@media (max-width: 414px){
.baby h1{
    font-size: 25px;    
    }
.baby p{
    font-size: 15px;
    }
.baby{
    padding-left: 5px;
    padding-right: 5px;
    max-width: 400px;
    
    }
}

@media (max-width: 379px){
    .baby{
        width: 250px;
        margin-left: -50px;
    }
}
