.container{
    display: flex;
    justify-content: center;
    background-color: rgb(21, 21, 21);
    flex-direction: column;
    z-index: 0;
    margin-top: -222px;
    position: relative;

}
.son{
    display: flex;
    text-align: center;
    flex-direction: column;
    color: white;
    padding: 100px;
    margin: 0 auto;
}

.son h2{
    position: absolute;
    left: 30%;
    top: -45%;
    color: rgb(255, 255, 255, 0.2);
    font-size: 60px;
}

.son h1{
    font-size: 35px;
}

.title{
    position: relative;
    width: auto;
}

.title h1{
    border-bottom: 1px solid rgb(202, 131, 0);
    
}
.target{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.target p{
    margin-top: -2px;
}

.arrow{
    color: rgb(202, 131, 0);
    position: absolute;
    left: 60%;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10em;
    width: 100%;
}

.info h3{
    font-size: 1.3em;
    height: 5px;
}

.info h4{
    color: rgb(202, 131, 0);
    font-size: 1.5em;
    height: 5px;


}

.imgProfile{
    width: 20em;
    margin-right: 1em;
}

.baby p{
    text-align: justify;
    line-height: 1.5;
    padding-top: 15px;
   
}
.baby{
    padding-left: 30px;
    padding-right: 30px;
    max-width: 900px;
    display: flex;
    margin-top: 5em;

}



@media (max-width: 410px) {
    .title{
        width: fit-content;
    }
    .title h2{
        left: -15%;
        top: -30%;
        font-size: 40px;
        width: max-content;
    }

    .imgProfile img{
        width: 20em;
    }

    .baby{
        flex-direction: column;
        justify-content: center;
        width: max-content;
        padding-left: 0;
        margin-left: -4em;

    }

    .info{
        margin-left: -2px;
        width: 19.5em;
        padding: 10px;
    }

    .arrow{
        left: 34%;

        
    }
    
   

    

  
}
@media (min-width: 411px) and (max-width: 463px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .title{
    width: fit-content;
}

.title h1{
    margin-left: 1em;

}
.title h2{
    left: 0%;
    top: -30%;
    font-size: 40px;
    width: max-content;
}

.imgProfile img{
    width: 22em;
}

.baby{
    flex-direction: column;
    justify-content: center;
    width: max-content;
    padding-left: 0;
    margin-left: -4em;

}

.info{
    margin-left: 2em;
    width: 20em;
}

.arrow{
    left: 38%;

    
}



}

@media (min-width: 464px) and (max-width: 530px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
 
  
  .title{
    width: auto;
}
.title h2{
    left: 10%;
    top: -30%;
    font-size: 40px;
    width: max-content;
}

.imgProfile img{
    width: 24em;
}

.baby{
    flex-direction: column;
    justify-content: center;
    width: max-content;
    padding-left: 0;
    margin-left: -4em;

}

.info{
    margin-left: 3em;
    width: 22em;
}

.arrow{
    left: 40%;

    
}


}

@media (min-width: 531px) and (max-width: 1000px) {
    /* Estilos para pantallas con ancho entre 768px y 992px */
   
    
    .title{
      width: auto;
  }
  .title h2{
      left: 10%;
      top: -30%;
      font-size: 40px;
      width: max-content;
  }
  
  .imgProfile img{
      flex-grow: 1;
  }
  
  .baby{
      flex-direction: column;
      justify-content: center;
      width: max-content;
      padding-left: 0;
      margin-left: -4em;
  
  }
  
  .info{
      margin-left: 3em;
      width: 22em;
  }
  
  .arrow{
      left: 38%;
  
      
  }
  
  
  }

  @media (min-width: 1001px) and (max-width: 1200px) {
    /* Estilos para pantallas con ancho entre 768px y 992px */
   
    
    .title{
      width: auto;
  }
  .title h2{
      left: 30%;
      top: -30%;
      font-size: 40px;
      width: max-content;
  }
  
  .imgProfile img{
      flex-grow: 1;
  }
  
  .baby{
      width: max-content;
      padding-left: 0;
      margin-left: -4em;
  
  }
  
  .info{
      margin-left: 3em;
      width: 22em;
  }
  
  .arrow{
      left: 56%;
  
      
  }
  
  
  }




