
.container2{
    height: 500px;
    width: 920px;
    z-index: 0;
    /* border-bottom: 1px solid gainsboro; */
}

.foot{
    display: flex;
    justify-content: center;    

}

.father{
    display: flex;
    flex-direction: row;
    background-image: url("../../assets/noche.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50em;
    align-items: center;
    justify-content: center;
}
.txt{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    width: auto;
}
.txt p{
    margin-top: 0;
    margin-bottom: 2em;
}

.txt div{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}
.txt h2{
    font-size: 40px;

}
.iconLink{
    color: white;
}
.icon{
    margin-left: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5em;
    text-decoration: none;
}

.icon:hover{
    background-color: rgb(255, 255, 255, 0.3);
}
.txt h1{
    color: rgb(202, 131, 0);
    margin-left: 25px;
    font-size: 40px;

}



 @media (max-width: 414px){
    .container{
        height: 500px;
        width: 140px;
    }
    .image img{
        height: 340px;
    }
    .image{
        margin-left: -50px;
        margin-top: 160px;
    }
    .txt h1{
        font-size: 15px;
    }
    .txt h3{
        font-size: 10px;
    }
    .txt p{
        font-size: 12px;
    }
    .txt{
        margin-top: 60px;
        margin-left: 55px;
        width: 170px;
    }
    .container3 img.linked{
        width: 47px;
        height: 36px;
    }
    .container3 img.git{
        width: 35px;
        height: 35px;
    }
    .container3{
        height: 50px;
        margin-left: -70px;
        z-index: 9999;
    }
 }

 @media (max-width: 379px){
    .container{
        height: 500px;
        width: 120px;
    }
    .container2{
        margin-right: 0;
        margin-left: 0;
        overflow-x: hidden;
        right: 0;
    }
    
    .container3{
        margin-left: -100px;
        width: 0;
        display: flex; 
        justify-content: flex-start;

    }
    
    .image img{
        height: 300px;
    }
    .image{
        margin-left: -50px;
        margin-top: 200px;

    }
    
 }