
.container2{
    height: 500px;
    width: 920px;
    z-index: 0;
    /* border-bottom: 1px solid gainsboro; */
}

.foot{
    display: flex;
    justify-content: center;    

}

.father{
    display: flex;
    flex-direction: row;
    background-image: url("../../assets/noche.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 50em;
    align-items: center;
    justify-content: center;
}
.txt{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    width: auto;
}
.txt p{
    margin-top: 0;
    margin-bottom: 2em;
    width: auto;
    padding: 5px;
}

.txt div{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}
.txt h2{
    font-size: 40px;

}
.iconLink{
    color: white;
}
.icon{
    margin-left: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5em;
    text-decoration: none;
}

.icon:hover{
    background-color: rgb(255, 255, 255, 0.3);
}
.txt h1{
    color: rgb(202, 131, 0);
    margin-left: 25px;
    font-size: 40px;

}



@media (max-width: 391px) {

    .txt div{
        display: flex;
        flex-direction: column;

    }

    .txt p{
        padding: 5px;
    }

    .father{
        background-size: cover;
    }

}
@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .txt div{
    display: flex;
    flex-direction: column;

}

.txt p{
    padding: 5px;
}

.father{
    background-size: cover;
}
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .father{
    background-size: cover;
}
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
  .father{
    background-size: cover;
}
}