.container{
    background-color: rgb(0, 0, 0);
    height: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 0;
}

.son{
    background-color: white;
    box-shadow: 0px 0px 25px rgb(182, 182, 182);
    backdrop-filter: blur(10px);
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 1;
    margin-top: -50px;
    color: rgb(202, 131, 0);
    padding: 10px;
}

.title2{
    position: relative;
    width: 63em;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
  }
  
  .title2 h1{
    border-bottom: 1px solid rgb(202, 131, 0);
    
  }
  
  .title2 h2{
    position: absolute;
    left: 35%;
    top: -55%;
    color: rgb(255, 255, 255, 0.2);
    font-size: 60px;
  
  }
  
  .title2 h1{
    font-size: 35px;
    color: white;
  }
  
  
.containerSon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 25px;
}
.formContainer input{
    width: 230px;
    height: 22px;
}

.formMessage textarea{
    height: 100px;
}

.formFather{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 1;
    

}

.formFather1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 1;


}

.formMessage{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.formMessage input{
    height: 200px;
}

.title{
    margin-top: 40px;
    color: rgb(202, 131, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    z-index: 1;
    position: relative;
}

.send{
    padding: 10px;
    width: 10em;
    background-color:rgb(202, 131, 0) ;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    border: 1px solid rgb(202, 131, 0);

    
}

.buble{
    height: 94%;
    width: 96%;
    background-color: rgb(255, 255, 255);
    top: 3%;
    left: 2%;
    border-radius: 10px;
    position: absolute;
    z-index: 0;
   

}


.formContainer1{
    background-color: rgb(202, 131, 0);
    border-radius: 20px;
    z-index: 1;
    margin-top: -60px;
    height: 25em;
    width: 45em;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden; 
}

.foot{
    color: white;
    margin-top: 5em;
}
.sonContact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 1em;
    background-color: rgb(21, 21, 21);
    position: relative;
}
.broSon img{
    width: 400px;
    height: 400px;
    left: 25%;
    bottom: -20%;
    position: absolute;
}

.send:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    animation-duration: 1s;
    animation-name: fadeIn;
    cursor: pointer;
    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media (max-width: 414px) {
    .title2 h2{
        left: 40%;
        top: -30%;
        font-size: 40px;
        width: max-content;
    }

    .broSon img{
        display: none;
    }
    
    .formFather{
        flex-direction: column;
        width: 80%;
        margin-left: 3em;
    }
    
   .sonContact{
    padding: 10px;
   }

}


@media (min-width: 391px) and (max-width: 768px) {
  /* Estilos para pantallas con ancho máximo de 768px */
  .title2 h2{
    left: 40%;
    top: -30%;
    font-size: 40px;
    width: max-content;
}

.broSon img{
    display: none;
}

.formFather{
    flex-direction: column;
    width: 80%;
    margin-left: 3em;
}


}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .title2 h2{
    left: 40%;
    top: -30%;
    font-size: 40px;
    width: max-content;
}


}

@media (min-width: 1181px) and (max-width: 1517px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
    .broSon img{
        left: 5%;
    }
}


