.container{
    background-color: rgb(0, 0, 0);
    height: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 0;
}

.son{
    background-color: white;
    box-shadow: 0px 0px 25px rgb(182, 182, 182);
    backdrop-filter: blur(10px);
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 1;
    margin-top: -50px;
    color: rgb(202, 131, 0);
    padding: 10px;
}

.title2{
    position: relative;
    width: 63em;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
  }
  
  .title2 h1{
    border-bottom: 1px solid rgb(202, 131, 0);
    
  }
  
  .title2 h2{
    position: absolute;
    left: 35%;
    top: -55%;
    color: rgb(255, 255, 255, 0.2);
    font-size: 60px;
  
  }
  
  .title2 h1{
    font-size: 35px;
    color: white;
  }
  
  
.containerSon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 25px;
}
.formContainer input{
    width: 230px;
    height: 22px;
}

.formMessage textarea{
    height: 100px;
}
.formFather{
    display: flex;
    flex-direction: row;

}
.formMessage{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.formMessage input{
    height: 200px;
}

.title{
    margin-bottom: 40px;
    color: rgb(202, 131, 0);
    margin-left: 10px;
}

.send{
    padding: 10px;
    width: 100px;
    margin-left: 225px;
    background-color:white ;
    color: rgb(202, 131, 0);
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    border: 1px solid rgb(202, 131, 0);

    
}

.formContainer1{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    z-index: 1;
    margin-top: -60px;
    height: 25em;
    width: 45em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.foot{
    color: white;
    margin-top: 5em;
}
.sonContact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 1em;
    background-color: rgb(21, 21, 21);
    position: relative;
}
.broSon img{
    width: 400px;
    height: 400px;
    left: 25%;
    bottom: -20%;
    position: absolute;
}

.send:hover{
    background-color: rgb(202, 131, 0);
    color: white;
    animation-duration: 1s;
    animation-name: fadeIn;
    cursor: pointer;
    
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 414px){
    .son{
        margin-left: 120px;
        width: 150px;
        height: 80px;
        font-size: 12px;
    }
    .broSon{
        display: none;
    }
    .title{
        margin-top: 50px;
        margin-left: 20px;
        font-size: 10px;
    }
    .formContainer input{
        width: 150px;
    }
    .formMessage{
        width: 340px;
        height: 100px;
        margin-left: 20px;
    }
    .send{
        margin-left: 150px;
        margin-bottom: 50px;
    }
    .formContainer{
        margin-left: 20px; 
        margin-left: 0;
        padding-left: 7px;
    }
    .formFather{
        margin-left: 10px;
    }
}


@media (max-width: 379px){
    .son{
        margin-left: 95px;
    }
    .formMessage{
        margin-left: 10px;
    }
    .send{
        margin-left: 130px;
    }
}